{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block navbar %}
  {% include 'navbar.html'%}
{% endblock %}
{% block content %}
<h2 class="text-center">Business pitches</h2>

<div class="col-md-2"> </div>
<div class="col-md-8">

  {{wtf.quick_form(pitch_form)}}

</div>
<div class="col-md-2"> </div>

<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="card m-6">
    <div class="card-header">
      <h4 class="card-title">How to start a business</h4>
    </div>
    <div class="card-body">
      <p class="card-text">abrakadabra</p>
    </div>
    <div class="card-footer">
      <hr>
      <p class="card-text">end</p>
    </div>
  </div>
</div>
<div class="col-md-2"></div>
{% endblock%}
