{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block navbar %}
  {% include 'navbar.html'%}
{% endblock %}
{% block content %}
<h2 class="text-center">Business pitches</h2>
<div class="col-md-2"> </div>
<div class="col-md-8">


</div>
<div class="col-md-2"> </div>
<div class="col-md-2"></div>

<div class="col-md-8">
  <div class="card m-6">
    <div class="card-header">
      <h4 class="card-title"></h4>
    </div>
    <div class="card-body">
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <p class="card-text"></p>
    </div>

  </div>
</div>
<div class="col-md-2"></div>
{% endblock%}
