<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/"> Home </a></li>
        <li><a href="/"> About </a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('main.general') }}">General</a></li>
            <li><a href="{{ url_for('main.career') }}">Career</a></li>
            <li><a href="{{ url_for('main.business') }}">Business</a></li>
            <li><a href="{{ url_for('main.technology') }}">Technology</a></li>
            <li><a href="{{ url_for('main.science') }}">Science</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</div>
